<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Source"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="4"/>
    </listAttribute>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="FORGE_GROUP" value="net.minecraftforge"/>
        <mapEntry key="FORGE_VERSION" value="36.2.35"/>
        <mapEntry key="MCP_MAPPINGS" value="official_1.16.5"/>
        <mapEntry key="MCP_VERSION" value="20210115.111550"/>
        <mapEntry key="MC_VERSION" value="1.16.5"/>
        <mapEntry key="MOD_CLASSES" value="examplemod%%C:\_MC\Mod Source\~MinersAdvantage\Source\bin\main;examplemod%%C:\_MC\Mod Source\~MinersAdvantage\Source\bin\main"/>
        <mapEntry key="assetDirectory" value="C:\Users\DuelM\.gradle\caches\forge_gradle\assets"/>
        <mapEntry key="assetIndex" value="1.16"/>
        <mapEntry key="target" value="fmluserdevdata"/>
    </mapAttribute>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.debug.ui.launchGroup.debug"/>
        <listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.minecraftforge.userdev.LaunchTesting"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Source"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--mod examplemod --all --output &quot;C:\_MC\Mod Source\~MinersAdvantage\Source\src\generated\resources&quot; --existing &quot;C:\_MC\Mod Source\~MinersAdvantage\Source\src\main\resources&quot;"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Source"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dforge.logging.console.level=debug -Dforge.logging.markers=REGISTRIES -XX:+IgnoreUnrecognizedVMOptions --add-exports=java.base/sun.security.util=ALL-UNNAMED --add-exports=jdk.naming.dns/com.sun.jndi.dns=java.naming --add-opens=java.base/java.util.jar=ALL-UNNAMED"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\_MC\Mod Source\~MinersAdvantage\Test_Data_1.16.5"/>
</launchConfiguration>
